/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(
		:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
	) {
	all: unset;
	display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: 'Kumbh Sans', sans-serif;
}

html {
	background-color: #f4f6f8;
}

main {
	min-height: 100%;
}
